body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.loading{
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    font-size: 4.5em;
    gap: 1em;
}
.loading img{
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: .5em;
}