.guilds{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
    margin-top: 1em;
  }
  .guild_card{
    display: grid;
    grid-template-columns: 1fr .4fr;
    border: 1px solid rgb(194, 194, 194);
    border-radius: .5em;
    padding: 1em;
    transition: .5s;
  }
  .guild_card h1{
    font-size: 2em;
  }
  .guild_card .info p{
    font-size: 1.4em;
  }
  .guild_card .txt{
    display: grid;
    grid-template-rows: .2fr 1fr;
  }
  .guild_card .img{
    height: 60%;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    user-select: none;
    
  }
  .guild_card .img img{
    height: 100%;
    object-fit: contain;
    border-radius: 5%;
  }
  .guild_card .head{
    display: flex;
    flex-direction: column;
  }
  .guild_card .head .owner{
    display: flex;
    margin-bottom: .5em;
  }
  .owner p{
    margin-left: .5em;
  }
  .guild_card:hover{
    border: 1px solid #F38F54;
    transition: .5s;
  }
  .guild_card .info{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .guild_card .notes{
    display: flex;
    flex-direction: column;
    gap: .5em;
  }
  ul li{
    list-style: disc;
    list-style-position: inside;
  }